.userPanel {
    margin: 1rem;    
    padding: 1rem;    
    border: 1px solid rgba(0, 0, 0, .3);
    width: 100%!important;
}

.userPanel h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--primary-color);
}