 /*
 * Simple reset
 */

 @import url(https://fonts.googleapis.com/css?family=Raleway:100,300,400,700);

 *, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

:root {
  --sell-color: #f0ab00;
  --buy-color: #831552;
  --logo-color: #f7df1e; /* #ff9d2f ??*/

  --primary: #1a83a2;
}

ul, li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
}

img, embed, object, video {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}

/*
* App generic styles
*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Raleway;
}

h1 {
        font-size: 2.5rem;
    }

@media only screen and (max-width: 750px) {
    h1 {
        font-size: 2rem;
    }
}