
.badge-primary {
  color: var(--primary-color);
  border-radius: 0px;
  border: none;
  background-color: #fff!important;
  font-size: 105%;
  text-shadow: 2px 2px 3px rgba(26,131,162,0.22);
}

.advert {
    position: relative;
    margin: 8px;
    padding: 8px;
    border: 1px solid rgba(50, 50, 50, 0.2);
}

.advert a {
  color: var(--link-color);
  text-decoration: none;
}

.advert a:hover  {
  color: #9db0ac;
}

.advert h3 {
    padding: 8px 0;
    font-size: 1rem;
    font-weight: 600;
}

.advert .sell {
    border-left: 2px solid var(--sell-color)!important;
}

.advert .buy {
    border-left: 2px solid var(--buy-color);
}

.advert-header {
  height: 30px;
}
.advert-header-sell {
    color: var(--sell-color);
    text-align: left;
}

.advert-header-buy {
    color: var(--buy-color);
    text-align: left;
}

.advert-header-sold {
    text-transform: uppercase;
    font-weight: 800;
    color: #fff;
    float: right;
    padding: 4px 20px;
    background-color: #ff9d2f;
    border-radius: 2px;
    margin-bottom: 4px;
}

.advert-header-reserved {
    text-transform: uppercase;
    font-weight: 800;
    color: #ff9d2f;
    float: right;
}

.advert:hover {
    transform: scale(1.2);
    z-index: 1;
    background-color: white;
    box-shadow: 0 10px 10px 0px rgba(50, 50, 50, 1);
    transition: all .2s ease;
}

.advert-img {
  height: 250px;
  padding: 6px;
  border: 1px solid rgba(50, 50, 50, 0.2);
  padding: 12px;
  margin-bottom: 24px;
  cursor: default;
  opacity: 100;
}

.advert .price {
    float: right;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: #fff;
    background-color: #007bff;
}