
.container {
  margin: auto;
  background: #fff;
}


img {
  max-width: 100%;
}
img:hover {
  opacity: 0.4;
  cursor: pointer;
}

/* CSS Grid*/
.advert-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5px;
}

@media only screen and (min-width: 750px) {
  .advert-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media only screen and (min-width: 970px) {
  .advert-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}