.credits h1 {
    margin-top: 120px;
    margin-bottom: 40px;
}

.credits h1 span{
    display: block;
    font-size: 2vh;
}

.credits p {
    display: block;
    line-height: 200%;
    margin-top: 40px;
    font-size: 16px;
}

.credits p a {
    display: inline;

}
