
.searchButton {
    background-color: #fff;
    border: 1px solid  rgba(0, 0, 0, .3);
    color: var(--primary-color);
    float: right;
    padding: 4px 12px;
    margin-right: 0.6rem;
}

.searchPanel {
    padding: 2rem;    
    margin: 2rem 1rem 1rem 0.5rem;  
    border: 1px solid rgba(0, 0, 0, .3);
    max-width: 1140px;
}

.searchPanel h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--primary-color);
}

.searchPanelFilters {  
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    padding: 1rem;
    padding-bottom: 1.25rem;

}

.searchPanelFooter {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.searchPanelFooter button:first-child { margin-right: .5rem; }
.searchPanelFooter button { width: 50% }

@media only screen and (min-device-width : 640px) {
    .searchPanelFilters { grid-template-columns: 1fr 1fr; }
    .searchPanelFooter button { width: 25% }
}

.searchPanel input, select {
    width: 100%;
    font-size: 1rem;
    line-height: 1.1rem;
    padding: .75rem 0 .75rem .75rem;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    color: black;
    outline: none;
}
