.social-container {
  display: inline-block !important;
}
a.social {
  margin-right: 1rem;
  transition: transform 250ms;
  display: inline-block !important;
  font-size: 14px;
  cursor: pointer;
}

a.social {
  color: var(--link-color);
}

a.social:hover {
  transform: translateY(-2px);
}

a.facebook:hover {
  color: #4968ad;
}

a.twitter:hover {
  color: #49a1eb;
}