html {
  scroll-behavior: smooth;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  background-color: white;
}

a {}

.flex-container {
  background-color: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
}

.flex-container >div {
  background-color: #f1f1f1;
  border: 1px solid #323232;
  margin: 10px;
  padding: 20px;
  min-height: 520px;
}

.flex-container>div>p{
  max-width: 400px;
}

.price {
  color: orange;
}

#more-filters {
  background-color: #f8f8f8;
  margin: 20px 0 60px 0; 
  padding: 20px;
}