.createLink{
  text-align: center;
}

.edit-advert label {
  opacity: 0.7;
}

.edit-advert h2 {
  margin: 4vh 0 1vh 0;
  text-align: center;
}

.edit-advert .info{
  padding: 2vh 0 4vh 0;
}

.edit-advert .remove {
    color: #bf1650;
    text-align: right;
    font-size: 2vh;
    display: block;
    margin-bottom: 16px;
    border-bottom: #212529;
}

.edit-advert img {
  height: 250px;
  padding: 6px;
  border: 1px solid rgba(50, 50, 50, 0.2);
  padding: 12px;
  margin-bottom: 24px;
  cursor: default;
  opacity: 100;
}

.edit-advert .formContainer {
  margin: 0;
  right: 0;
  max-width: 540px;
}

.edit-advert .formContainer button { margin: 40px 0 20px 10px; width: 45%; border-radius: 0; float: right;}

/* CSS Grid*/
.edit-advert-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  margin-bottom: 40px;;
}

@media only screen and (max-width: 750px) {
  .edit-advert-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}