.userPanel {
    margin: 2rem 0.5rem 1rem 0.5rem;    
    padding: 1rem;    
}

.userPanel h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--primary-color);
}

.userPanel a{
    display: inline;
    padding: 0 2px 0 2px;
    color: #212529;;
}

.userPanel a:hover{
    color: var(--primary-color);
    text-decoration: none;
}